.main {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 120px);
  overflow: hidden;
  &__title {
    font-size: 2rem;
    font-weight: 600;
    max-width: 850px;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 850px;
    text-align: center;
    color: gray;
  }

  &__help {
    padding: 10rem 0 12.5rem;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      margin: 0 auto 6.875rem;
      @media (max-width: 900px) {
        padding: 0 2rem;
      }
    }
    &__slides {
      display: flex;
      flex-direction: column;
      gap: 0.8125rem;
    }
    &.open {
      padding-top: 40px;
    }
  }
}
