.auth {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/images/background.jpg');
    background-size: cover;
  }
  &__box {
    background: rgba(255, 255, 255, 1);
    padding: 30px 30px 60px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 930px;
    max-width: 90vw;
    max-height: 90vh;
    height: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    // flex-direction: column;

    & img {
      margin-bottom: 20px;
      height: 50px;
      width: auto;
    }

    & h2 {
      font-size: 40px;
      font-weight: bold;
      color: #000;
      margin-bottom: 40px;
    }
    & form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
    & button {
      align-self: flex-start;
      height: 48px;
      border-radius: 14px;
    }

    & .row {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        gap: 0.625rem;
        height: 18px;
        line-height: 18px;
      }

      input {
        width: 18px;
        height: 18px;
        margin: 0;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-dark-gray);
    font-size: 0.875rem;
    line-height: 1rem;
    width: 100%;
    & > a {
      color: var(--color-blue);
      text-decoration: none;
    }
  }
  &__form {
    flex: 1;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 320px;
      & img {
        width: 80%;
        height: auto;
      }
    }

    &-right {
      button {
        width: 100%;
        justify-content: center;
        background: linear-gradient(-45deg, rgba(85, 186, 90, 0.5), rgba(0, 114, 188, 0.75));
        border: none;
      }
    }
  }
}

.form-group {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;

  label {
    font-size: 16px;
    font-weight: 600;
  }
}
