.tabs {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 55px;
  border-bottom: 1px solid var(--color-border-gray);
  gap: 20px;

  &__tab {
    flex: 1;
    display: flex;
    height: 38px;
    gap: 10px;
    cursor: pointer;
    max-width: 350px;

    &.active {
      border-bottom: 4px solid var(--color-blue);
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 0 8px;
    box-shadow: 2px 4px 12.4px 0px #0000001a;
    border: 0.5px solid #89898999;
    background: #eaecf0;
    border-radius: 12px;

    &.active {
      background: rgba(80, 183, 72, 0.3);
      border: 0.5px solid var(--color-green);
    }
  }
}
