.basicLayout {
  &__header {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px 0 30px;

    &__right {
      display: flex;
      align-items: center;
      gap: 38px;

      .input {
        width: 500px;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__left {
    border-right: 1px solid var(--color-border-gray);
    height: 100vh;
  }

  &__right {
    flex: 1;
    max-height: 100vh;
    overflow: hidden;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    padding-bottom: 42px;
    height: 100vh;
    width: 83px;
    // border-right: 1px solid var(--color-border-gray);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;

    &__top {
      display: flex;
      flex-direction: column;
      gap: 47px;
    }

    &__profile {
      margin-top: auto;
      margin-bottom: 20px;
      display: flex;
      gap: 10px;
      height: 48px;
      width: 48px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid var(--color-border-gray);
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        padding: 5px;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 2px;
    // background: var(--color-blue);
    box-shadow: 2px 4px 12.4px 0px #0000001a;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 45px;
    height: 45px;

    img {
      width: 100%;
    }
  }

  &__menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    li {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
    }
  }

  &__route {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__route-name {
    display: none;
    text-decoration: none;
  }

  &__content {
    // padding-top: 40px;
    // max-height: calc(100vh - 100px);
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 16px;
      margin-right: 13px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(62, 62, 62, 0.1);
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 124, 181, 1);
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 124, 181, 0.9);
    }
  }

  &__sidebar__button {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--color-border-gray);
    cursor: pointer;
  }

  &__sidebar__button-text {
    display: none;
  }

  &__sidebar.open {
    width: 255px;
    align-items: flex-start;

    .basicLayout__menu {
      li {
        justify-content: flex-start;
        padding-left: 24px;

        &.active {
          border-left: 4px solid var(--color-blue);

          .basicLayout__route {
            padding-left: 16px;
          }
        }
      }
    }

    .basicLayout__route-name {
      display: block;
    }

    .basicLayout__logo {
      margin-left: 30px;
      width: calc(100% - 60px);
      box-shadow: none;
    }

    .basicLayout__sidebar__profile {
      margin-left: 24px;
      width: 207px;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
    }

    .basicLayout__sidebar__button {
      margin-left: 24px;
      width: 207px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;

      svg {
        transform: rotate(180deg);
      }
    }

    .basicLayout__sidebar__button-text {
      display: block;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navbar {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;
  border-top: 12px solid #fff;
  background: linear-gradient(-90deg, #d2d9e5, rgba(210, 217, 229, 0.5));
  background: -webkit-linear-gradient(-90deg, #d2d9e5, rgba(210, 217, 229, 0.5));
  margin-top: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: linear-gradient(-90deg, rgba(210, 217, 229, 0.75), rgba(210, 217, 229, 0.5));
  background: -webkit-linear-gradient(-90deg, rgba(210, 217, 229, 0.75), rgba(210, 217, 229, 0.5));
  border-top-color: rgba(255, 255, 255, 0);
  &-right {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .lang-item {
    color: #4e5e73;
    text-decoration: none;
    padding: 10px 16px;
    transition: 0.2s;
    font-weight: 700;
    font-size: 0.85rem !important;
    color: #fff !important;
  }

  .lang-item:first-child {
    background: linear-gradient(-45deg, rgba(85, 186, 90, 0.5), rgba(0, 114, 188, 0.75));
    background: -webkit-linear-gradient(-45deg, rgba(85, 186, 90, 0.5), rgba(0, 114, 188, 0.75));
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .lang-item:last-child {
    background: linear-gradient(-45deg, rgba(0, 114, 188, 0.75), rgba(71, 47, 146, 0.5));
    background: -webkit-linear-gradient(-45deg, rgba(0, 114, 188, 0.75), rgba(71, 47, 146, 0.5));
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(85, 186, 90, 0);
  }

  .active {
    background: linear-gradient(90deg, #55ba5a, rgba(85, 186, 90, 0.5));
    background: -webkit-linear-gradient(90deg, #55ba5a, rgba(85, 186, 90, 0.5));
  }
  .right-menu {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 80px;
    height: 92px;
    padding-top: 12px;
    margin-top: -12px;
    transition: 0.2s;
    background: #fff;
    border: 1px solid #55ba5a;
    cursor: pointer;
  }

  .icn.icn_menu {
    mask-image: url('../../assets/icons/menu-right.svg');
    -webkit-mask-image: url('../../assets/icons/menu-right.svg');

    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: currentColor;
    mask-position: center center;

    &:hover {
      background: #55ba5a;
    }
  }

  .uk-logo-head {
    position: absolute;
    z-index: 0;
    margin-top: -12px;
    display: block;
    width: 402px;
    height: 92px;
    border: none;
    overflow: hidden;
    color: transparent;
    background: url('../../assets/images/header-logo.jpg') 0 0 / cover no-repeat;

    -webkit-mask-image: url('../../assets/images/black.svg');
    mask-image: url('../../assets/images/black.svg');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .uk-navbar-nav {
    display: flex;
    // gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 16px;
  }
  .uk-navbar-nav a {
    font-size: 0.85rem !important;
    font-weight: 700;
    text-transform: uppercase;
  }

  .uk-divider-vertical {
    height: 68px;
    padding-top: 24px;
    margin-top: -12px;
    z-index: 4;
    // margin-left: -48px;
    // margin-right: 32px;
    border-left: 3px solid #fff;
    border-color: #fff !important;
  }

  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25em;
    box-sizing: border-box;
    min-height: 80px;
    font-size: 0.875rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    text-decoration: none;
  }

  .uk-navbar-item {
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 70px;
    height: 70px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    opacity: 1 !important;
    margin: 0 24px;
    background-image: url('../../assets/images/logo-qtj.jpg');
  }

  .logo-ar-long {
    width: 128px;
    font-size: 1rem;
    font-family: 'Golos Text', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 4;
    color: #fff;
    padding: 24px;
  }
}
